/*footer */
.footer {
    background: #17224E;
    color: #fff;
    text-align: center;
    padding: 30px 0 20px 0;
    width: 100vw;
    max-width: 100%;
    margin-top: 40px;
    box-sizing: border-box;
    text-decoration: none;
}

footer a{
    text-decoration: none;
}
